{{#if resume.projects.length}}
<div class="container project-container">
    {{> title value="Projects"}}

    {{#each resume.projects}}
        <section class="item">
            {{> section-header name=this.name website=this.url showWebsite=true useSimpleDate=true}}

            {{#if type}}
                 <h5>{{type}} {{#if entity}}at {{entity}}{{/if}}</h5>
            {{/if}}

            {{#if roles.length}}
                <div class="flex-container">
                    {{#each roles}}
                        <h5>{{#if @index}}, {{/if}}{{.}}</h5>
                    {{/each}}
                </div>
            {{/if}}

            {{#if keywords.length}}
            <div class="flex-container">
                {{#each keywords}}
                    <h6 class="skill">{{.}}</h6>
                {{/each}}
            </div>
            {{/if}}

            {{#if summary}}
            <p class="summary">{{summary}}</p>
            {{/if}}

            {{#if description}}
            <p class="summary">{{description}}</p>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </section>
    {{/each}}
</div>
{{/if}}
